/* new arrival section styles 
  this section gets the same styles 
  in featured products section
*/
/* banners section styles */
#banners {
  margin: 0 60px;
}
#banners h2, #banners h4, #banners span {
  color: rgb(248, 248, 248);
}
#banners .big-banners {
  display: flex;
  align-items: center;
  justify-content: center;
}
#banners .big-banners div {
  min-width: 580px;
  margin: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  background-size: cover;
  -webkit-backdrop-filter: blur(8%);
          backdrop-filter: blur(8%);
}
#banners .big-banners button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  color: rgb(248, 248, 248);
  border: 1px solid rgb(248, 248, 248);
  cursor: pointer;
  transition: 0.3s ease;
}
#banners .big-banners div:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
#banners .big-banners-1 {
  background-image: url(images/banner/b17.jpg);
}
#banners .big-banners-2 {
  background-image: url(images/banner/b10.jpg);
}
#banners .small-banners-1 {
  background-image: url(images/banner/b7.jpg);
}
#banners .small-banners-2 {
  background-image: url(images/banner/b4.jpg);
}
#banners .small-banners-3 {
  background-image: url(images/banner/b18.jpg);
}
#banners .small-banners {
  display: flex;
  align-items: center;
  justify-content: center;
}
#banners .small-banners div {
  min-width: 370px;
  height: 200px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  background-size: cover;
}
#banners .small-banners h2 {
  font-size: 25px;
}
#banners .small-banners h5 {
  color: #771818;
}

/* newsletter section styles */
#newsletter {
  background-image: url(images/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 180px;
  background-color: #041e42;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
}
#newsletter .newsletter-text h3 {
  color: white;
  font-size: 30px;
  padding: 0 0 15px 0;
}
#newsletter .newsletter-text h5 {
  color: rgb(151, 151, 151);
  font-size: 17px;
}
#newsletter .newsletter-text h5 span {
  color: rgb(216, 182, 29);
}
#newsletter .form input {
  padding: 20px;
  width: 350px;
  height: 56px;
  background-color: #d1d0d0;
  border-radius: 6px 0 0 6px;
  font-size: 18px;
  border: none;
  outline: none;
  margin-right: -4px;
  margin-top: 1px;
}
#newsletter .form button {
  margin-left: 0;
  padding: 20px;
  border: none;
  width: 120px;
  background-color: #088178;
  color: white;
  font-size: 17px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

/* footer section styles */
#footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 75px;
  background-color: #ececec;
}
#footer p, #footer a {
  color: rgb(109, 109, 109);
  text-decoration: none;
}
#footer a:hover {
  color: #088178;
}
#footer .about a, #footer .myaccount a {
  display: block;
  padding: 8px 0;
}
#footer .download img {
  border: 1px solid rgba(8, 129, 121, 0.4117647059);
  border-radius: 7px;
}/*# sourceMappingURL=styles1.css.map */