/* new arrival section styles 
  this section gets the same styles 
  in featured products section
*/

/* banners section styles */


#banners {
    margin: 0 60px;  
  h2,  h4,  span {
    color: rgb(248, 248, 248);
  }
  .big-banners {
    display: flex;
    align-items: center;
    justify-content: center;
  
   div {
    min-width: 580px;
    margin: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
    backdrop-filter: blur(8%);
  }
  button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
  }
  div:hover button {
    background-color: #088178;
    border: 1px solid #088178;
  }
  &-1 {
    background-image: url(images/banner/b17.jpg);
  }
  &-2 {
    background-image: url(images/banner/b10.jpg);
  }
}
  .small-banners{
  &-1 {
    background-image: url(images/banner/b7.jpg);
  }
  &-2 {
    background-image: url(images/banner/b4.jpg);
  }
  &-3 {
    background-image: url(images/banner/b18.jpg);
  }}
  
  .small-banners {
    display: flex;
    align-items: center;
    justify-content: center;
  
  div {
    min-width: 370px;
    height: 200px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
  }
  h2 {
    font-size: 25px;
  }
  h5 {
    color: #771818;
  }
}
}



/* newsletter section styles */

#newsletter {
    background: {
        image: url(images/banner/b14.png);
        repeat: no-repeat;
        position: 180px;
        color: #041e42;
    }
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
  
  .newsletter{
  &-text h3 {
    color: white;
    font-size: 30px;
    padding: 0 0 15px 0;
  }
  &-text h5 {
    color: rgb(151, 151, 151);
    font-size: 17px;
   span {
    color: rgb(216, 182, 29);
  }}
}
.form input {
    padding: 20px;
    width: 350px;
    height: 56px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;
  
    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
  }
  .form button {
    margin-left: 0;
    padding: 20px;
    border: none;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
  }
}
/* footer section styles */

#footer{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color: #ececec;
  
  p, a{
    color: rgb(109, 109, 109);
    text-decoration: none;
  }
  a:hover{
    color:#088178;
  }
  .about, .myaccount{ 
    a{
    display: block;
    padding:8px 0;
  }}
  .download img{
    border: 1px solid #08817969;
    border-radius: 7px;
  }
}
