
.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.bg-lightblue{
    background-color: lightblue;
}
.bg-orange{
    background-color: orange;
}
.bg-grey{
    background-color: grey;
}
.bg-yellow{
    background-color: yellow;
}
.h-2{
    height:2%
}
.h-5{
    height:5%
}
.h-10{
    height: 10%;
}
.h-40{
    height: 40%;
}
.h-90{
    height:90%;
}
.container-fluid {
    height: 100vh;
}
@media (min-width:576px){
    .text-sm-left{
        text-align: left;
    }
    .sm-color-skyblue{
        background-color: skyblue;
    }
    .text-xs-right{
        text-align:center
    }
    .text-sm-right{
        text-align: right;
    }
    .sm-color-green{
        background-color: green;
    }
}

@media (max-width:576px){
    .bg-red{
        height:10%;
    }
    .test{
        height: 90%;
    }
    .zombie{
        display: none;
    }
    .text-sm-left{
        text-align: center;
    }
    .text-xs-right{
        text-align: right;
    }
    .text-sm-right{
        text-align:center;
    }
    .xs-color-skyblue{
        background-color: skyblue;
    }

}

@media (max-width:768px){
    .ghost{
        display: none;
    }
    .text-md-right{
        text-align: center;
    }
    .text-md-left{
        text-align: center;
    }
    
}

@media (min-width:768px){
    .zombie{
        display: none;
    }
    .md-color-green{
        background-color: green;
    }
    .text-md-center{
        text-align: center;
    }
    .text-sm-right{
        text-align:center;
    }
    .sm-color-green{
        background-color: red;
    }
    .text-md-right{
        text-align: right;
    }
    .text-md-left{
        text-align: left;
    }
}